id: 2
templatename: MainPage.tpl
properties: null

-----

[[$head.tpl]]
<body>
[[$nav.tpl]]
<main role="main">
    <div class="container">
        <div class="d-flex flex-row">
            <div class="col-md-2 d-md-block col-lg-2 d-sm-none d-none align-content-end">
                <div class="float-right"><span class="about-brand">About brand</span></div>
            </div>
                <div class="w-450 ml-200">
                    <h1>[[*pagetitle]]</h1>
                    <p>Elisabeth is currently a student of Art and Graphic Faculty of MSPU. It started from a small collection of canvas bags just for friend back in 2016 and in September 2018 during a big art performance SNIFF introduced its first complete collection Полусвет (half-light or demi-monde).
                    </p>
                    <p>SNIFF is filled with irony and nostalgia about Russian rave culture of early 2010s and it is also being inspired by contemporary art scene. It is represented in both of SNIFF’s collections: FLASH with its mix of flashy slogan prints and Полусвет with its minimalistic casual style with laconic prints.</p>
                </div>
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="placeholder" style="height: 240px;"></div>
            </div>
        </div>
    </div>
</main>

</body>
[[$footer.tpl]]
</html>


